__pycache__/
*/__pycache__/

.venv/
venv/

.env
.env.*
!.env.example

.git
.gitignore

*.pyc
*.pyo
*.pyd

.vscode/
.idea/

*.log
*.md
.DS_Store
Thumbs.db

commands.txt


.venv
__pycache__
*.pyc
*.pyo
*.pyd

.git
.gitignore

mlruns
artifacts
artifacts_latest_export

.cache
.cache/
**/cache/
**/.cache/

.env
.env.*

.DS_Store
Thumbs.db

*.log
*.tmp